In [74]:
from Libraries import *

In [75]:
import geopandas as geo
import descartes
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=13,8

In [76]:
geo_df = geo.read_file(r'C:\Users\Nick\Downloads\dsc-phase-4-project-main\dsc-phase-4-project-main\time-series\.ipynb_checkpoints\fl_florida_zip_codes_geo.min.json')

returns = pd.read_csv('returns.csv', index_col='Unnamed: 0')
returns_max = pd.read_csv('returns_max.csv', index_col='Unnamed: 0')
returns_min = pd.read_csv('returns_min.csv', index_col='Unnamed: 0')
returns_5yr = pd.read_csv('returns_5yr.csv', index_col='Unnamed: 0')

geo_df.tail()

,STATEFP10,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,PARTFLG10,geometry
978,12,32129,1232129,B5,G6350,S,19276444,651408,+29.1369736,-081.0239569,N,"POLYGON ((-80.99360 29.15030, -80.99358 29.149..."
979,12,32168,1232168,B5,G6350,S,424964754,5791624,+28.9637734,-081.0294134,N,"POLYGON ((-81.02429 28.87645, -81.02489 28.876..."
980,12,32738,1232738,B5,G6350,S,66976215,8358124,+28.9052691,-081.1851759,N,"POLYGON ((-81.21764 28.89041, -81.21749 28.890..."
981,12,32141,1232141,B5,G6350,S,60921307,2134685,+28.9289532,-080.9191350,N,"POLYGON ((-80.91498 28.96535, -80.91481 28.965..."
982,12,32459,1232459,B5,G6350,S,141718481,40145065,+30.3606681,-086.1855320,N,"POLYGON ((-86.32452 30.37290, -86.32450 30.373..."

In [77]:
print(geo_df.shape)

returns['ZCTA5CE10'] = returns['zip'].astype(str)
returns_max['ZCTA5CE10'] = returns_max['zip'].astype(str)
returns_min['ZCTA5CE10'] = returns_min['zip'].astype(str)
returns_5yr['ZCTA5CE10'] = returns_5yr['zip'].astype(str)
returns_5yr.columns = ['return_5yr','zip','ZCTA5CE10']

returns_5yr.head()

(983, 12)

   return_5yr    zip ZCTA5CE10
0   22.208147  32003     32003
1  112.590059  32008     32008
2   45.902487  32009     32009
3   91.081390  32011     32011
4   11.889182  32024     32024

In [78]:
geo_df.head()
geo_df_w_returns = geo_df.merge(returns, on='ZCTA5CE10')
geo_df_w_returns_ = geo_df_w_returns.merge(returns_max, on='ZCTA5CE10')
geo_df_w_returns__ = geo_df_w_returns_.merge(returns_5yr, on='ZCTA5CE10')

#geo_df_w_returns__.drop(['zip_x','zip_y','zip'], axis=1, inplace=True)

geo_df_w_returns__.to_csv('geo_df_with_returns.csv')

geo_df_w_returns__.head()

,STATEFP10,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,PARTFLG10,geometry,return,zip_x,zip_y,return_max,return_5yr,zip
0,12,32606,1232606,B5,G6350,S,44273265,253128,+29.6820042,-082.4440962,N,"POLYGON ((-82.37990 29.67955, -82.38003 29.679...",24.496467,32606,32606,232.326431,62.909556,32606
1,12,32609,1232609,B5,G6350,S,290843169,6376578,+29.7689903,-082.2825337,N,"MULTIPOLYGON (((-82.35105 29.72611, -82.35094 ...",15.829038,32609,32609,291.249262,40.577373,32609
2,12,32234,1232234,B5,G6350,S,335454814,1292362,+30.2260009,-081.9835221,N,"POLYGON ((-82.03100 30.14228, -82.03132 30.142...",8.699734,32234,32234,307.522865,22.188143,32234
3,12,32656,1232656,B5,G6350,S,145837206,15950622,+29.8136843,-081.9594543,N,"MULTIPOLYGON (((-82.08718 29.78226, -82.08701 ...",21.344376,32656,32656,322.029084,54.739642,32656
4,12,32940,1232940,B5,G6350,S,337477626,27722966,+28.2132754,-080.7956986,N,"MULTIPOLYGON (((-80.75258 28.26321, -80.75015 ...",8.102265,32940,32940,253.519118,20.666709,32940

In [79]:
top_5_zips = geo_df_w_returns__.copy()

In [80]:
top_5_zips.head()

,STATEFP10,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,PARTFLG10,geometry,return,zip_x,zip_y,return_max,return_5yr,zip
0,12,32606,1232606,B5,G6350,S,44273265,253128,+29.6820042,-082.4440962,N,"POLYGON ((-82.37990 29.67955, -82.38003 29.679...",24.496467,32606,32606,232.326431,62.909556,32606
1,12,32609,1232609,B5,G6350,S,290843169,6376578,+29.7689903,-082.2825337,N,"MULTIPOLYGON (((-82.35105 29.72611, -82.35094 ...",15.829038,32609,32609,291.249262,40.577373,32609
2,12,32234,1232234,B5,G6350,S,335454814,1292362,+30.2260009,-081.9835221,N,"POLYGON ((-82.03100 30.14228, -82.03132 30.142...",8.699734,32234,32234,307.522865,22.188143,32234
3,12,32656,1232656,B5,G6350,S,145837206,15950622,+29.8136843,-081.9594543,N,"MULTIPOLYGON (((-82.08718 29.78226, -82.08701 ...",21.344376,32656,32656,322.029084,54.739642,32656
4,12,32940,1232940,B5,G6350,S,337477626,27722966,+28.2132754,-080.7956986,N,"MULTIPOLYGON (((-80.75258 28.26321, -80.75015 ...",8.102265,32940,32940,253.519118,20.666709,32940

In [81]:
list_of_zips = [32621, 32461, 34449, 32455, 32625]

top_5_zipcodes_2yr = top_5_zips[top_5_zips['zip'].isin(list_of_zips)]
top_5_zipcodes_5yr = top_5_zips[top_5_zips['zip'].isin(list_of_zips)]

In [82]:
top_5_zipcodes_2yr.to_csv('top_5_zipcodes_2yr.csv')
top_5_zipcodes_5yr.to_csv('top_5_zipcodes_5yr.csv')
top_5_zipcodes_2yr.head()

,STATEFP10,ZCTA5CE10,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,PARTFLG10,geometry,return,zip_x,zip_y,return_max,return_5yr,zip
15,12,34449,1234449,B5,G6350,S,265763428,13074688,+29.0747203,-082.6794512,N,"POLYGON ((-82.57857 29.13434, -82.57854 29.134...",123.480571,34449,34449,775.659568,330.876042,34449
244,12,32621,1232621,B5,G6350,S,190013180,5379245,+29.4246978,-082.6101436,N,"POLYGON ((-82.59248 29.42431, -82.59217 29.424...",130.755691,32621,32621,987.233248,351.467788,32621
245,12,32625,1232625,B5,G6350,S,219471990,96204225,+29.2082643,-082.9970389,N,"POLYGON ((-83.03264 29.30071, -83.03264 29.300...",117.448545,32625,32625,828.490618,313.857609,32625
521,12,32455,1232455,B5,G6350,S,600917562,22014807,+30.6386255,-085.9627010,N,"POLYGON ((-85.99889 30.56200, -85.99923 30.562...",121.355658,32455,32455,1136.757158,324.915380,32455
571,12,32461,1232461,B5,G6350,S,1524426,0,+30.2896847,-086.0277188,N,"POLYGON ((-86.02548 30.28347, -86.02567 30.283...",125.850301,32461,32461,1036.252907,337.589708,32461